#orb{
  width:200px;
  height:200px;
  background-color: rebeccapurple;
  border-radius: 100%;
  margin: 50px 20px 0 auto;
}
.sun{
 background-color: #FFDD00 !important;
  border: 10px gold;
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #00FFFF 0%, rgba(0, 0, 255, 0) 50%, #0000FF 95%);
}
.moon{
  background-color: azure !important;
  border: 10px white;
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #00FFFF 0%, rgba(0, 0, 255, 0) 50%, #0000FF 95%);
  shape-outside: circle(50%);
  width: 600px;
  height: 100px;
  float: left;
}
.daysky{
  background-color: rgb(255,255,204);
}
.nightsky{
  background-color: rgb(80,80,120);
}
